<div class="pricing-main-container">
  <h2 class="page-big-title">PRICING</h2>
  <div class="pricing-box-container">

    <div class="pricing-box">
      <h2 class="pink-text">Basic Maintainance Package</h2>
      <div class="price-desc-container">
        <h3>₱2,990</h3><p>per <br> month </p>
      </div>
      <ul class="features">
        <li>Monthly Maintenance Report</li>
        <li>Daily Backups</li>
        <li>Daily Security Checkup</li>
        <li>24/7 Uptime monitoring</li>
        <li>30 Day Refund</li>
        <li>Fixing Issues</li>
        <li>Email Signature for your business</li>
        <li>Search Engine Optimization</li>
        <li class="not-included-text">Modern & Responsive Design</li>
        <li class="not-included-text">Submit tasks</li>
        <li class="not-included-text">Photo editing tasks</li>
        <li class="not-included-text">Website Build</li>
        <li class="not-included-text">Heat Mapping Report</li>
        <li class="not-included-text">Google Analytics Report</li>
      </ul>
      <button class="pink-button" routerLink="/contact" type="button" name="button">Contact now!</button>
    </div>

    <div class="pricing-box">
      <div class="side-tags">
        <h4>Most<br>Popular</h4>
      </div>
      <h2 class="sky-text" >Pro Package</h2>
      <div class="price-desc-container">
        <h3>₱4,400</h3><p>per <br> month</p>
      </div>
      <ul class="features">
        <li>Monthly Maintenance Report</li>
        <li>Daily Backups</li>
        <li>Daily Security Checkup</li>
        <li>24/7 Uptime monitoring</li>
        <li>30 Day Refund</li>
        <li>Fixing Issues</li>
        <li>Email Signature for your business</li>
        <li>Search Engine Optimization</li>
        <li>Modern & Responsive Design</li>
        <li>Up to 3 Tasks per week</li>
        <li>Photo editing/Logo</li>
        <li class="not-included-text">Website Build</li>
        <li class="not-included-text">Heat Mapping Report</li>
        <li class="not-included-text">Google Analytics Report</li>
      </ul>
      <button class="sky-button" routerLink="/contact" type="button" name="button">Contact now!</button>
    </div>

    <div class="pricing-box">
      <div class="side-tags">
        <h4>Best<br>Deal</h4>
      </div>
      <h2 class="purple-text" >Premium Package</h2>
      <div class="price-desc-container">
        <h3>₱9,900</h3><p>per <br> month </p>
      </div>
      <ul class="features">
        <li>Monthly Maintenance Report</li>
        <li>Daily Backups</li>
        <li>Daily Security Checkup</li>
        <li>24/7 Uptime monitoring</li>
        <li>30 Day Refund</li>
        <li>Fixing Issues</li>
        <li>Email Signature for your business</li>
        <li>Search Engine Optimization</li>
        <li>Modern & Responsive Design</li>
        <li>Submit Tasks <span class="purple-text bold-text">27/7</span></li>
        <li>Photo editing/Logo</li>
        <li><span class="purple-text bold-text">Website Build</span></li>
        <li>Heat Mapping Report</li>
        <li>Google Analytics Report</li>
      </ul>
      <button class="purple-button" routerLink="/contact" type="button" name="button">Contact now!</button>
    </div>

  </div>
</div>
