<div class="latest-work-wrap">
  <h3 class="big-top-title">LATEST PROJECT</h3>
  <div class="project-images-container container1">
    <div class="images-box box1">
      <div class="project-logo">
        <img src="./assets/images/facebook-large.svg" alt="logo">
      </div>
      <div class="text-data">
        <div class="other-detail">
          <p>Purpose: Angular & JWT practice</p><p></p>
        </div>
        <div class="project-title">
          FACEBOOK DESKTOP CLONE
        </div>
      </div>
    </div>

    <div class="images-box box4">
      <div class="tool-logo">
        <div class="text-line">
          <p>L</p>
          <p>A</p>
          <p>R</p>
        </div>
        <div class="text-line">
          <p>A</p>
          <p>N</p>
          <p>G</p>
        </div>
        <div class="text-line">
          <p>U</p>
          <p>L</p>
          <p>A</p>
        </div>
        <div class="text-line">
          <p>R</p>
          <p>J</p>
          <p>S</p>
        </div>
      </div>
    </div>

  </div>
  <div class="project-images-container container2">
    <div class="images-box box3">
      <ul class="checklist">
        <li>
          <p>Registration</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Log In</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Email verification</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Comments CRUD</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Comment replies CRUD</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>People search</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Profile</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Emoji reactions</p>
          <i class="material-icons">check</i>
        </li>
      </ul>
      <ul class="checklist">
        <li>
          <p>Friend request</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Posts CRUD</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Posts background</p>
          <i class="material-icons">check</i>
        </li>
        <li>
          <p>Account settings</p>
          <i class="material-icons">close</i>
        </li>
        <li>
          <p>File upload</p>
          <i class="material-icons">close</i>
        </li>
      </ul>
    </div>

    <div class="images-box box2">
      <div class="laptop-container">
        <div class="laptop-side">
          <a href="https://ralpdexterbongato.github.io/facebook/" target="_blank" >
            <div class="laptop-screen">
              <img src="./assets/images/facebookhome.png" alt="project">
              <div class="clickable-alert">
                <i class="material-icons">touch_app</i>
              </div>
            </div>
          </a>
        </div>
        <div class="laptop-btm">
        </div>
      </div>
    </div>


  </div>

</div>
