<div class="skills-container">
  <h3 class="big-top-title">SKILLS</h3>
  <div class="boxes-container">
    <div class="skill-box wow fadeInUp" data-wow-delay=".1s">
      <div class="skill-screen wplogo">
        <img src="./assets/images/imgnew/wordpress-draw-logo.svg" alt="wordpress logo">
      </div>
      <div class="skill-title">
        Wordpress
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".2s">
      <div class="skill-screen">
        <img src="./assets/images/imgnew/analysis.svg" alt="">
      </div>
      <div class="skill-title">
        SEO
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".3s">
      <div class="skill-screen htmllogo">
        <img src="./assets/images/imgnew/photoedit.svg" alt="photo edit">
      </div>
      <div class="skill-title">
        Vector graphics
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".1s">
      <div class="skill-screen htmllogo">
        <img src="./assets/images/imgnew/tools.svg" alt="raster">
      </div>
      <div class="skill-title">
        Raster graphics
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".2s">
      <div class="skill-screen htmllogo">
        <img src="./assets/images/imgnew/html.svg" alt="html logo">
      </div>
      <div class="skill-title">
        HTML5
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".3s">
      <div class="skill-screen csslogo">
        <img src="./assets/images/imgnew/css.svg" alt="csslogo">
      </div>
      <div class="skill-title">
        CSS3
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".1s">
      <div class="skill-screen jslogo">
        <img src="./assets/images/imgnew/javascript.svg" alt="javascriptlogo">
      </div>
      <div class="skill-title">
        Javascript
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".2s">
      <div class="skill-screen jquerylogo">
        <img src="./assets/images/imgnew/jquery-sketch-symbol.svg" alt="jquerylogo">
      </div>
      <div class="skill-title">
        Jquery
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".3s">
      <div class="skill-screen angularlogo">
        <img src="./assets/images/imgnew/computer.svg" alt="angular js">
      </div>
      <div class="skill-title">
        Angular JS
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".1s">
      <div class="skill-screen vuelogo">
        <img src="./assets/images/imgnew/programming.svg" alt="vue js">
      </div>
      <div class="skill-title">
        Vue JS
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".2s">
      <div class="skill-screen phplogo">
        <img src="./assets/images/imgnew/php.svg" alt="">
      </div>
      <div class="skill-title">
        PHP
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".3s">
      <div class="skill-screen laravellogo">
        <img src="./assets/images/imgnew/laravel.svg" alt="">
      </div>
      <div class="skill-title">
        LARAVEL
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".1s">
      <div class="skill-screen sqllogo">
        <img src="./assets/images/imgnew/database.svg" alt="sqledatabase">
      </div>
      <div class="skill-title">
        Microsoft SQL
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".2s">
      <div class="skill-screen mysqllogo">
        <img src="./assets/images/imgnew/mysql.svg" alt="mysql">
      </div>
      <div class="skill-title">
        Apache MySQL
      </div>
    </div>
    <div class="skill-box wow fadeInUp" data-wow-delay=".3s">
      <div class="skill-screen gitlogo">
        <img src="./assets/images/imgnew/git.svg" alt="">
      </div>
      <div class="skill-title">
        Git
      </div>
    </div>
  </div>
</div>
