.skills-container
{
  padding:25px;
}
@media (max-width:400px)
{
  .skills-container
  {
    padding:25px 10px;
  }
}
.big-top-title
{
  font-size: 25px;
  margin-bottom: 25px;
  font-family:'Yantramanav',sans-serif;
  margin-left: 22px;
}
.boxes-container
{
  display: flex;
  justify-content:center;
  min-height: 50vh;
  flex-wrap: wrap;
  margin:0 auto;
}
@media (max-width:500px)
{
  .big-top-title
  {
    font-size: 20px;
  }
  .skill-box
  {
    margin:5px;
  }
}
.skill-title
{
  margin-bottom: 0px;
  font-size: 12px;
  font-family: 'Comfortaa',sans-serif;
  color: #454545;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.skill-screen
{
  height: 100%;
  width: 100%;

  display: flex;
}
.skill-box path
{
  transition: fill .3s;
  fill:#454545;
}
.skill-box img
{
  width: 60px;
  margin:0 auto;
}
.skill-box
{
  box-sizing: border-box;
  padding:10px;
  border-radius: 2px;
  width:200px;
  height: 190px;
  background: #fff;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  justify-content: flex-end;
  margin:25px;
}
@media (min-width:1600px) {
  .skill-box
  {
    width: 300px;
    height: 285px;
  }
  .skill-box img
  {
    width: 90px;
  }
}
@media (max-width:686px)
{
  .skill-box
  {
    margin-bottom: 20px;
  }
  .skill-title
  {
    font-size: 12px;
  }
  .skill-box img
  {
    width: 50px;
  }
}
