<div class="latest-works-container">
  <button class="left-arrow" type="button" *ngIf="page !=1" (click)="PrevComponent()" name="button">
    <i class="material-icons">arrow_back</i>
  </button>
  <button class="right-arrow" *ngIf="page !=3" type="button" (click)="NextComponent()" name="button">
    <i class="material-icons">arrow_forward</i>
  </button>
  <app-first-project *ngIf="page == 3" ></app-first-project>
  <app-second-project *ngIf="page == 2"></app-second-project>
  <app-third-project *ngIf="page == 1"></app-third-project>
</div>
