.latest-works-container
{
  padding:25px;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
@media (max-width:400px)
{
  .latest-works-container
  {
    padding:25px 10px;
  }
}

.project-box img
{
  width: 100%;
}
.project-img
{
  overflow: hidden;
  position: relative;
  border: 1px solid #f4f4f4;
  min-height: 160px;
  background-size: cover;
  background-position: center;
}
@media (min-width:1600px) {
  .project-img
  {
    min-height: 245px
  }
}
.box-data i,.box-data p
{
  display: inline-block;
  vertical-align: middle;
  color: #bbb;
}
.box-data a:hover i
{
  color: #4B21FF!important;
}
.box-data a
{
  text-decoration: none;
}
.box-data
{
  margin-top: 4px;
}
.box-data i
{
  font-size:20px;
}
.box-data p
{
  font-size: 12px;
}
.project-box
{
  border-radius: 2px;
  padding:10px;
  height: 180px;
  width: 200px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  background: #fff;
}
@media (min-width:1600px) {
  .project-box
  {
    height: 270px;
    width:300px;
  }
}
.project-hover-data h3
{
  font-weight: 600;
  font-size: 15px;
}
.project-hover-data ul
{
  margin-top:10px;
}
.project-hover-data ul li
{
  font-size: 11px;
  color: rgba(0,0,0,.6);
  margin-bottom: 3px;
}
.project-hover-data
{
  position: absolute;
  top: -800px;
  left: 0;
  right: 0;
  height: 100%;
  padding:10px;
  color: #0F1A1E;
  background: rgba(255, 255, 255,0.9);
  transition: top .3s;
}
.big-top-title
{
  font-size: 25px;
  font-family: 'Yantramanav',sans-serif;
  font-weight: 600;
  margin-bottom: 25px;
  margin-left: 22px;
}
@media (max-width: 500px)
{
  .big-top-title
  {
    font-size: 20px;
  }
}
.project-box-container h2
{
  margin-top: 10px;
  font-weight: 600;
  font-size: 13px;
}
.project-box-container
{
  margin:20px;
}
.main-works-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-img:hover .project-hover-data
{
  top: 0;
}
