<div class="latest-works-container" >
  <h2 class="big-top-title">PROJECTS</h2>
  <div class="main-works-container">
    <div class="project-box-container wow fadeInUp" data-wow-delay=".1s">
      <div class="project-box">
        <div class="project-img" style="background-image: url('./assets/images/edited1.png')">
          <div class="project-hover-data">
            <h3>E-Commerce</h3>
            <ul>
              <li>Wordpress (woocommerce)</li>
              <li>Advanced custom fields</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>
        <div class="box-data">
          <a href="http://www.realux.fast-page.org" target="_blank">
            <i class="material-icons">attachment</i>
            <p>Visit</p>
          </a>
        </div>
      </div>
      <h2>Ecommerce</h2>
    </div>
    <div class="project-box-container wow fadeInUp" data-wow-delay=".2s">
      <div class="project-box">
        <div class="project-img" style="background-image: url('./assets/images/edited2.png')">
          <div class="project-hover-data">
            <h3>C.Y.M. Music Vlog</h3>
            <ul>
              <li>Wordpress</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>
        <div class="box-data">
          <a href="http://chillyourmind.rf.gd/cym/" target="_blank">
            <i class="material-icons">attachment</i>
            <p>Visit</p>
          </a>
        </div>
      </div>
      <h2>Music Vlog</h2>
    </div>
    <div class="project-box-container wow fadeInUp" data-wow-delay=".3s">
      <div class="project-box">
        <div class="project-img" style="background-image: url('./assets/images/edited3.png')">
          <div class="project-hover-data">
            <h3>Warehouse Inventory Control</h3>
            <ul>
              <li>Vue.js</li>
              <li>PHP(laravel)</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Microsoft SQL</li>
              <li>Socket.io</li>
              <li>Chart.js</li>
            </ul>
          </div>
        </div>
        <div class="box-data">
          <a href="https://warehouseinventorycontrol.herokuapp.com/" target="_blank">
            <i class="material-icons">attachment</i>
            <p>Visit</p>
          </a>
        </div>
      </div>
      <h2>Inventory Control </h2>
    </div>
    <div class="project-box-container wow fadeInUp" data-wow-delay=".4s">
      <div class="project-box">
        <div class="project-img" style="background-image: url('./assets/images/edited4.png')">
          <div class="project-hover-data">
            <h3>Cryptography</h3>
            <ul>
              <li>Angular.js</li>
              <li>HTML</li>
              <li>CSS</li>
            </ul>
          </div>
        </div>
        <div class="box-data">
          <a href="https://ralpdexterbongato.github.io/finalproject/" target="_blank">
            <i class="material-icons">attachment</i>
            <p>Visit</p>
          </a>
        </div>
      </div>
      <h2>Atbash & Playfair encrypt/decrypt </h2>
    </div>
    <div class="project-box-container wow fadeInUp" data-wow-delay=".5s">
      <div class="project-box">
        <div class="project-img" style="background-image: url('./assets/images/edited6.png')">
          <div class="project-hover-data">
            <h3>Portfolio site</h3>
            <ul>
              <li>Angular.js</li>
              <li>Laravel REST api</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Postgre SQL</li>
              <li>Json Web Tokens</li>
              <li>Google Analytics</li>
            </ul>
          </div>
        </div>
        <div class="box-data">
          <a href="https://ralpdexterbongato.github.io/portfolio/" target="_blank">
            <i class="material-icons">attachment</i>
            <p>Visit</p>
          </a>
        </div>
      </div>
      <h2>Portfolio</h2>
    </div>
    <div class="project-box-container wow fadeInUp" data-wow-delay=".6s">
      <div class="project-box">
        <div class="project-img" style="background-image: url('./assets/images/edited5.png')">
          <div class="project-hover-data">
            <h3>Facebook clone</h3>
            <ul>
              <li>Angular.js</li>
              <li>Laravel REST api</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Postgre SQL</li>
              <li>Json Web Tokens</li>
            </ul>
          </div>
        </div>
        <div class="box-data">
          <a href="https://ralpdexterbongato.github.io/facebook/" target="_blank">
            <i class="material-icons">attachment</i>
            <p>Visit</p>
          </a>
        </div>
      </div>
      <h2>Facebook clone </h2>
    </div>
  </div>
</div>
