<div class="latest-work-wrap">
  <h3 class="big-top-title">SNEAK PEEK</h3>
  <div class="project-images-container container1">
    <div class="images-box box1">
      <div class="project-logo">
        <img src="./assets/images/paper-plane.svg" alt="logo">
      </div>
      <div class="text-data">
        <div class="other-detail">
          <p>This is how my portfolio panel looks like</p><p></p>
        </div>
        <div class="project-title">
        CURRENT PORTFOLIO ADMIN PANEL
        </div>
      </div>
    </div>
    <div class="images-box box2">
      <div class="laptop-container">
        <div class="laptop-side">
          <!-- <a href="https://warehouseinventorycontrol.herokuapp.com" target="_blank" > -->
            <div class="laptop-screen">
              <img src="./assets/images/portf.PNG" alt="project">
              <!-- <div class="clickable-alert">
                <i class="material-icons">touch_app</i>
              </div> -->
            </div>
          <!-- </a> -->
        </div>
        <div class="laptop-btm">
        </div>
      </div>
    </div>
  </div>
  <div class="project-images-container container2">
    <div class="images-box box3">
      <div class="mobile-side">
        <div class="mobile-screen">
          <img src="./assets/images/mob.PNG" alt="project">
        </div>
        <div class="mobile-button">
        </div>
      </div>
    </div>
    <div class="images-box box4">
      <div class="tool-logo">
        <div class="text-line">
          <p>A</p>
          <p>N</p>
          <p>G</p>
        </div>
        <div class="text-line">
          <p>U</p>
          <p>L</p>
          <p>A</p>
        </div>
        <div class="text-line">
          <p>R</p>
          <p>J</p>
          <p>S</p>
        </div>
        <div class="text-line">
          <p>J</p>
          <p>W</p>
          <p>T</p>
        </div>
      </div>
    </div>
  </div>

</div>
