<div class="landing-page-container animated fadeInUp">
  <div class="image-content-container">
    <div class="landing-page-image">
      <img src="./assets/images/me.svg" alt="mypic">
      <div class="sololine">
      </div>
    </div>
    <div class="landing-page-content">
      <div class="landing-box-container">
        <div class="landing-box">
          <div class="large-text-name">
            <p class="highlight">RD</p>
            <p>RALP DEXTER</p>
          </div>
          <p class="medium-home-text">Full Stack - Web Developer</p>
          <p class="home-parag">I am Ralp Dexter Bongato, a passionate web developer.
            {{myAge}}-year-old living in a small, but beautiful country called Philippines.
             <br><br>"Websites promote you 24/7, No employee will do that.” ― Paul Cookson
          </p>
          <div class="big-buttons-container">
            <button routerLink="/websites" type="button" name="button">WEBSITES</button>
            <button routerLink="/pricing" type="button" name="button">PRICING</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
