
<div class="websites-container">
  <div class="top-titles-container">
    <h1 class="big-top-title">WEBSITES</h1>
    <h2 class="top-title-desc">If you need a website, contact me</h2>
  </div>
  <div class="website-demos-container">

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".1s">
      <div class="web-box-img-container">
        <img src="./assets/images/w1.png" alt="restaurant website">
      </div>
      <div class="website-box-info">
        <h1>Restaurant Booking</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".2s">
      <div class="web-box-img-container">
        <img src="./assets/images/w12.png" alt="online store website">
      </div>
      <div class="website-box-info">
        <h1>Online Store</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".3s">
      <div class="web-box-img-container">
        <img src="./assets/images/w2.png" alt="hotel booking website">
      </div>
      <div class="website-box-info">
        <h1>Hotel Booking</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".4s">
      <div class="web-box-img-container">
        <img src="./assets/images/w3.png" alt="dental clinic website">
      </div>
      <div class="website-box-info">
        <h1>Dental Clinic</h1>
        <h3>HEALTH</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".5s">
      <div class="web-box-img-container">
        <img src="./assets/images/w4.png" alt="rent a car website">
      </div>
      <div class="website-box-info">
        <h1>Rent a car</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".6s">
      <div class="web-box-img-container">
        <img src="./assets/images/w5.png" alt="construction website">
      </div>
      <div class="website-box-info">
        <h1>Construction</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".7s">
      <div class="web-box-img-container">
        <img src="./assets/images/w6.png" alt="company website">
      </div>
      <div class="website-box-info">
        <h1>Company website</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".8s">
      <div class="web-box-img-container">
        <img src="./assets/images/w7.png" alt="Law firm website">
      </div>
      <div class="website-box-info">
        <h1>Law firm</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay=".9s">
      <div class="web-box-img-container">
        <img src="./assets/images/w8.png" alt="Wedding receptionist website">
      </div>
      <div class="website-box-info">
        <h1>Wedding Receptionist</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay="1s">
      <div class="web-box-img-container">
        <img src="./assets/images/w9.png" alt="tour business website">
      </div>
      <div class="website-box-info">
        <h1>Tour Package</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay="1.1s">
      <div class="web-box-img-container">
        <img src="./assets/images/w10.png" alt="personal portfolio website">
      </div>
      <div class="website-box-info">
        <h1>Photographer portfolio</h1>
        <h3>BUSINESS</h3>
      </div>
    </div>

    <div routerLink="/contact" class="website-box-container wow fadeInUp" data-wow-delay="1.2s">
      <div class="web-box-img-container">
        <img src="./assets/images/w11.png" alt="health hospital website">
      </div>
      <div class="website-box-info">
        <h1>Health Clinic</h1>
        <h3>HEALTH</h3>
      </div>
    </div>

  </div>
</div>
